In [1]:
import pandas as pd

## Load Data and arrange column names

In [2]:
initial = pd.read_csv('01_Initial_Data.txt', sep=",", names=['Sample code number',
 'Clump Thickness',
 'Uniformity of Cell Size',
 'Uniformity of Cell Shape',
 'Marginal Adhesion',
 'Single Epithelial Cell Size',
 'Bare Nuclei',
 'Bland Chromatin',
 'Normal Nucleoli',
 'Mitoses',
 'Class'])

initial.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

## Replacing missing "Bare Nuclei" data, marked by "?" to mode value of each class, and converting to numeric data type all column

In [3]:
class_B_mode = pd.to_numeric(initial[(initial["Bare Nuclei"] != "?") & (initial["Class"] == 2)]["Bare Nuclei"]).mode()
class_M_mode = pd.to_numeric(initial[(initial["Bare Nuclei"] != "?") & (initial["Class"] == 4)]["Bare Nuclei"]).mode()
initial.loc[(initial["Bare Nuclei"] == "?") & (initial["Class"] == 2), "Bare Nuclei"] = int(class_B_mode)
initial.loc[(initial["Bare Nuclei"] == "?") & (initial["Class"] == 4), "Bare Nuclei"] = int(class_M_mode)
initial["Bare Nuclei"] = pd.to_numeric(initial["Bare Nuclei"])
initial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  699 non-null    int64
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: int64(11)
memory usage: 60.2 KB

## Replace Class values to 0 and 1 (0 for benign, 1 for malignant)

In [4]:
initial.loc[initial["Class"] == 4, "Class"] = 1
initial.loc[initial["Class"] == 2, "Class"] = 0
initial["Class"].unique()

array([0, 1], dtype=int64)

## Getting rid of columns which will not be used in models

In [5]:
prepared_data = initial.drop(["Sample code number", "Uniformity of Cell Size"], axis=1)
prepared_data

,Clump Thickness,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,2,1,3,1,1,0
1,5,4,5,7,10,3,2,1,0
2,3,1,1,2,2,3,1,1,0
3,6,8,1,3,4,3,7,1,0
4,4,1,3,2,1,3,1,1,0
...,...,...,...,...,...,...,...,...,...
694,3,1,1,3,2,1,1,1,0
695,2,1,1,2,1,1,1,1,0
696,5,10,3,7,3,8,10,2,1
697,4,6,4,3,4,10,6,1,1
698,4,8,5,4,5,10,4,1,1

## Exporting preapred dataframe to CSV file

In [7]:
prepared_data.to_csv("03_Prepared_data.csv", index=False)